In [1]:
print ("HELLO SAMUEL WELCOME TO DATA CLEANING USING PYTHON")

HELLO SAMUEL WELCOME TO DATA CLEANING USING PYTHON

In [2]:
## LOAD THE DATASET
import pandas as pd 
sales_df = pd.read_csv("C:/Users/sunda/Downloads/CAPSTONE/sales_data_samplee.csv")

In [3]:
##INSPECT THE DATA
sales_df.head()

,ORD_NUMBER,QUANTITY_ORD,PRICE_EACH,ORD_LINE_NUMBER,SALES,ORD_DATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACT_LAST_NAME,CONTACT_FIRST_NAME,DEAL_SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,N-A,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05/07/2003,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07/01/2003,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,N-A,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,N-A,Brown,Julie,Medium

In [5]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ORD_NUMBER          2823 non-null   int64
 1   QUANTITY_ORD        2823 non-null   int64
 2   PRICE_EACH          2823 non-null   float64
 3   ORD_LINE_NUMBER     2823 non-null   int64
 4   SALES               2823 non-null   float64
 5   ORD_DATE            2823 non-null   object
 6   STATUS              2823 non-null   object
 7   QTR_ID              2823 non-null   int64
 8   MONTH_ID            2823 non-null   int64
 9   YEAR_ID             2823 non-null   int64
 10  PRODUCT_LINE        2823 non-null   object
 11  MSRP                2823 non-null   int64
 12  PRODUCT_CODE        2823 non-null   object
 13  CUSTOMER_NAME       2823 non-null   object
 14  PHONE               2823 non-null   object
 15  ADDRESS_LINE1       2823 non-null   object
 16  ADDRESS_LINE2       302 non-null    object
 17  CITY                2823 non-null   object
 18  STATE               1337 non-null   object
 19  POSTALCODE          2747 non-null   object
 20  COUNTRY             2823 non-null   object
 21  TERRITORY           2823 non-null   object
 22  CONTACT_LAST_NAME   2823 non-null   object
 23  CONTACT_FIRST_NAME  2823 non-null   object
 24  DEAL_SIZE           2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [4]:
sales_df.describe()

,ORD_NUMBER,QUANTITY_ORD,PRICE_EACH,ORD_LINE_NUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [6]:
sales_df.shape

(2823, 25)

In [7]:
sales_df.columns

Index(['ORD_NUMBER', 'QUANTITY_ORD', 'PRICE_EACH', 'ORD_LINE_NUMBER', 'SALES',
       'ORD_DATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCT_LINE',
       'MSRP', 'PRODUCT_CODE', 'CUSTOMER_NAME', 'PHONE', 'ADDRESS_LINE1',
       'ADDRESS_LINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACT_LAST_NAME', 'CONTACT_FIRST_NAME', 'DEAL_SIZE'],
      dtype='object')

In [8]:
##REPLACE AND REMOVE MISSING/BLANK/NAN VALUES
sales_df['PRICE_EACH'] = sales_df['PRICE_EACH']. fillna(sales_df['PRICE_EACH'].median())

In [20]:
sales_df['ORD_LINE_NUMBER'] = sales_df['ORD_LINE_NUMBER'].fillna(sales_df['ORD_LINE_NUMBER']).median()
sales_df['STATE'] = sales_df['STATE'].fillna('unknown')

sales_df.head()

,ORD_NUMBER,QUANTITY_ORD,PRICE_EACH,ORD_LINE_NUMBER,SALES,ORD_DATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACT_LAST_NAME,CONTACT_FIRST_NAME,DEAL_SIZE
0,10107,35,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,N-A,Yu,Kwai,Small
1,10121,35,81.35,5,2765.90,05/07/2003,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,35,94.74,2,3884.34,07/01/2003,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,35,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,N-A,Young,Julie,Medium
4,10159,35,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,N-A,Brown,Julie,Medium

In [12]:
sales_df.dropna(subset=['SALES'],inplace=True)

In [13]:
## DROP DUPLICATES
sales_df.drop_duplicates(inplace=True)

In [15]:
##FIX DATA TYPES 
sales_df['QUANTITY_ORD'] = sales_df['QUANTITY_ORD'].astype(int)
sales_df['PRICE_EACH'] = sales_df['PRICE_EACH'].astype(float)
df[SALES] = sales_df['SALES'].astype[float]

In [16]:
##CHANGING THE DATE and data FORMAT
sales_df['ORD_DATE'] = pd.to_datetime(sales_df['ORD_DATE'])

## changing datetypes[WHOLE_NUMBER,TEXT,DATE,TIME and so on] 
is very important, because it spikes an error if not convered to the right data-format

In [17]:
sales_df.head()

,ORD_NUMBER,QUANTITY_ORD,PRICE_EACH,ORD_LINE_NUMBER,SALES,ORD_DATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACT_LAST_NAME,CONTACT_FIRST_NAME,DEAL_SIZE
0,10107,30,95.70,6.0,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,N-A,Yu,Kwai,Small
1,10121,34,81.35,6.0,2765.90,05/07/2003,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,6.0,3884.34,07/01/2003,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6.0,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,N-A,Young,Julie,Medium
4,10159,49,100.00,6.0,5205.27,10/10/2003,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,N-A,Brown,Julie,Medium

In [18]:
##REMOVING THE WHITESPACE

sales_df['PRODUCT_LINE'] = sales_df['PRODUCT_LINE'].str.strip()

In [19]:
sales_df['STATUS']= sales_df['STATUS'].str.strip()

In [20]:
sales_df['CUSTOMER_NAME']= sales_df['CUSTOMER_NAME'].str.strip()

In [21]:
sales_df.head()

,ORD_NUMBER,QUANTITY_ORD,PRICE_EACH,ORD_LINE_NUMBER,SALES,ORD_DATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACT_LAST_NAME,CONTACT_FIRST_NAME,DEAL_SIZE
0,10107,30,95.70,6.0,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,N-A,Yu,Kwai,Small
1,10121,34,81.35,6.0,2765.90,05/07/2003,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,unknown,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,6.0,3884.34,07/01/2003,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,unknown,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6.0,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,N-A,Young,Julie,Medium
4,10159,49,100.00,6.0,5205.27,10/10/2003,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,N-A,Brown,Julie,Medium

In [44]:
#STANDARDIZING TEXTS

sales_df['STATUS'] =sales_df['STATUS'].str.upper()
sales_df['CITY'] =sales_df['CITY'].str.upper()
sales_df['COUNTRY'] =sales_df['COUNTRY'].str.upper()
sales_df['STATE'] =sales_df['STATE'].str.upper()

In [22]:
sales_df.head

<bound method NDFrame.head of       ORD_NUMBER  QUANTITY_ORD  PRICE_EACH  ORD_LINE_NUMBER    SALES  \
0          10107            30       95.70              6.0  2871.00
1          10121            34       81.35              6.0  2765.90
2          10134            41       94.74              6.0  3884.34
3          10145            45       83.26              6.0  3746.70
4          10159            49      100.00              6.0  5205.27
...          ...           ...         ...              ...      ...
2818       10350            20      100.00              6.0  2244.40
2819       10373            29      100.00              6.0  3978.51
2820       10386            43      100.00              6.0  5417.57
2821       10397            34       62.24              6.0  2116.16
2822       10414            47       65.52              6.0  3079.44

            ORD_DATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0     2/24/2003 0:00   Shipped       1         2     2003  ...
1         05/07/2003   Shipped       2         5     2003  ...
2         07/01/2003   Shipped       3         7     2003  ...
3     8/25/2003 0:00   Shipped       3         8     2003  ...
4         10/10/2003   Shipped       4        10     2003  ...
...              ...       ...     ...       ...      ...  ...
2818      12/02/2004   Shipped       4        12     2004  ...
2819  1/31/2005 0:00   Shipped       1         1     2005  ...
2820      03/01/2005  Resolved       1         3     2005  ...
2821  3/28/2005 0:00   Shipped       1         3     2005  ...
2822      05/06/2005   On Hold       2         5     2005  ...

                      ADDRESS_LINE1  ADDRESS_LINE2           CITY    STATE  \
0           897 Long Airport Avenue            NaN            NYC       NY
1                59 rue de l'Abbaye            NaN          Reims  unknown
2     27 rue du Colonel Pierre Avia            NaN          Paris  unknown
3                78934 Hillside Dr.            NaN       Pasadena       CA
4                   7734 Strong St.            NaN  San Francisco       CA
...                             ...            ...            ...      ...
2818             C/ Moralzarzal, 86            NaN         Madrid  unknown
2819                    Torikatu 38            NaN           Oulu  unknown
2820             C/ Moralzarzal, 86            NaN         Madrid  unknown
2821          1 rue Alsace-Lorraine            NaN       Toulouse  unknown
2822             8616 Spinnaker Dr.            NaN         Boston       MA

     POSTALCODE  COUNTRY TERRITORY CONTACT_LAST_NAME CONTACT_FIRST_NAME  \
0         10022      USA       N-A                Yu               Kwai
1         51100   France      EMEA           Henriot               Paul
2         75508   France      EMEA          Da Cunha             Daniel
3         90003      USA       N-A             Young              Julie
4           NaN      USA       N-A             Brown              Julie
...         ...      ...       ...               ...                ...
2818      28034    Spain      EMEA            Freyre              Diego
2819      90110  Finland      EMEA         Koskitalo             Pirkko
2820      28034    Spain      EMEA            Freyre              Diego
2821      31000   France      EMEA            Roulet            Annette
2822      51003      USA       N-A           Yoshido               Juri

     DEAL_SIZE
0        Small
1        Small
2       Medium
3       Medium
4       Medium
...        ...
2818     Small
2819    Medium
2820    Medium
2821     Small
2822    Medium

[2823 rows x 25 columns]>

In [47]:
##FIXING INCONSISTENT DATA
sales_df['STATUS']. value_counts()

##OR

sales_df['STATUS'] = sales_df['STATUS'].replace({'shipped':'SHIPPED',
                                                 'CANCLED':'CANCELLED', 
                                                 'RESLVED':'RESOLVED'})

In [24]:
## CREATING NEW COLUMNS

sales_df['REVENUE'] = sales_df['QUANTITY_ORD'] * sales_df['PRICE_EACH']
df['Year'] = df['ORD_DATE'].dt.year
df['Month'] = df['ORD_DATE'].dt.month
df['Quarter'] = df['ORD_DATE'].dt.quarter

In [30]:
##REMOVE IRRELEVANT COLUMNS
sales_df.drop(['ADDRESS_LINE2'], axis=1, inplace=True)

In [34]:
##RENAMING COLUMNS 

sales_df.rename(columns={
    'ORD_NUMBER': 'OrderNumber',
    'QUANTITY_ORD': 'Quantity',
    'PRICE_EACH': 'UnitPrice',
    'ORD_LINE_NUMBER': 'LineNumber',
    'ORD_DATE': 'OrderDate',
    'PRODUCT_LINE': 'ProductLine',
    'PRODUCT_CODE': 'ProductCode',
    'CUSTOMER_NAME': 'CustomerName',
    'POSTALCODE': 'PostalCode',
    'CONTACT_LAST_NAME': 'ContactLastName',
    'CONTACT_FIRST_NAME': 'ContactFirstName',
    'DEAL_SIZE': 'DealSize'
}, inplace=True)

In [36]:
##SPLITTING COLUMNS
##REMOVING OR FILTERING OUT BAD OR CANCELLED ORDERS
## HANDLING OUTLIERS
##MERGING TABLES
sales_df[['FIRSTNAME', 'LASTNAME']] = sales_df['CUSTOMER_NAME'].str.split(' ', 1, expand=True)

KeyError: 'CUSTOMER_NAME'

In [38]:
sales_df.to_csv("cleaned_python.csv", index= False)

In [ ]:
##SPLITTING COLUMNS
##REMOVING OR FILTERING OUT BAD OR CANCELLED ORDERS
## HANDLING OUTLIERS
##MERGING TABLES





                    FULL DAY 34 CAPSTONE PROJECT TEMPLATE 
import pandas as pd

# 1. Load
df = pd.read_csv("sales_data.csv")

# 2. Inspect
df.head(); df.info(); df.describe()

# 3. Missing values
df['PRICE_EACH'].fillna(df['PRICE_EACH'].median(), inplace=True)
df['QUANTITY_ORD'].fillna(df['QUANTITY_ORD'].median(), inplace=True)
df.dropna(subset=['SALES', 'ORD_DATE'], inplace=True)

# 4. Drop duplicates
df.drop_duplicates(inplace=True)

# 5. Fix data types
df['QUANTITY_ORD'] = df['QUANTITY_ORD'].astype(int)
df['PRICE_EACH'] = df['PRICE_EACH'].astype(float)
df['SALES'] = df['SALES'].astype(float)
df['ORD_DATE'] = pd.to_datetime(df['ORD_DATE'])

# 6. Trim + standardize text
df['PRODUCT_LINE'] = df['PRODUCT_LINE'].str.strip().str.title()
df['STATUS'] = df['STATUS'].str.strip().str.lower()
df['CUSTOMER_NAME'] = df['CUSTOMER_NAME'].str.strip().str.title()

# 7. Fix inconsistent
df['STATUS'].replace({
    'shiped':'shipped',
    'shippedd':'shipped',
    'canceled':'cancelled'
}, inplace=True)

# 8. Create new columns
df['Revenue'] = df['QUANTITY_ORD'] * df['PRICE_EACH']
df['Year'] = df['ORD_DATE'].dt.year
df['Month'] = df['ORD_DATE'].dt.month
df['Quarter'] = df['ORD_DATE'].dt.quarter

# 9. Split customer name
df[['FirstName','LastName']] = df['CUSTOMER_NAME'].str.split(' ', 1, expand=True)

# 10. Handle outliers (example)
df = df[df['QUANTITY_ORD'] < df['QUANTITY_ORD'].quantile(0.99)]
df = df[df['PRICE_EACH'] < df['PRICE_EACH'].quantile(0.99)]

# 11. Filter unwanted rows
df = df[df['STATUS'] != 'cancelled']
df = df[df['SALES'] > 0]

# 12. Remove irrelevant columns
df.drop(['ADDRESS_LINE2','PHONE'], axis=1, inplace=True)

# 13. Rename columns
df.rename(columns={
    'ORD_NUMBER': 'OrderNumber',
    'QUANTITY_ORD': 'Quantity',
    'PRICE_EACH': 'UnitPrice',
    'ORD_LINE_NUMBER': 'LineNumber',
    'ORD_DATE': 'OrderDate'
}, inplace=True)

# 14. Save cleaned dataset
df.to_csv("cleaned_sales_data.csv", index=False)